* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Montserrat;
}

b {
    color: #000000;
}

.wrapper {
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.contacts-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}

.contacts-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.contacts-link {
    color: #777d87;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.contacts-title-type {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 10px;
}


.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.tech-skills-item {
    color: #ff6b08;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}

.tech-skills-text {
    color: #9ea3aa;
}

.soft-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.soft-skills-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.soft-skills-item {
    color: #ff6b08;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}

.soft-skills-text {
    color: #9ea3aa;
}

.main-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.about-me-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    letter-spacing: 0.42px;
}

.about-me-container {
    width: 415px;
    height: 215px;
}

.projects-container {
    margin-top: 65px;
}

.projects-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.projects-item {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 15px;
}

.projects-links {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}   

.dots {
    color: #a8a8a8;
    font-size: 8px;
    letter-spacing: 0.65px;
}

.work-experience-container {
    margin-top: 65px;
}

.work-experience-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.work {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 20px;
    letter-spacing: 0.48px;
}

.company-name {
    color: #ff6b08;
    letter-spacing: 0.48px;
}

.work-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.36px;
    margin-top: 15px;
}

.company-text {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-left: 15px;
}

.education-container {
    margin-top: 60px;
}

.education-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.university-name {
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.48px;
    margin-top: 20px;
}

.specialty {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-top: 5px;
}